html {
    height: 100%;
}

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: 1.5rem;
    color: hotpink;
}

/* HEADER */

.main-header {
    display: flex;
    justify-content: space-between;
}

header, footer{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* CONTAINERS */

.main-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 1 0 auto;
}

.button-container {
    display: grid;
    justify-items: center;
    row-gap: 2.5rem;
    column-gap: 1rem;
    grid-template:
        "focus increase decrease add"
        "download up down remove"
        ". left right ."
        ". filling border ."
    ;
}

.editing-controls-container {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* BUTTONS */

.controls-button {
    height: 4rem;
    width: 4rem;
}

.add-button {
    grid-area: add;
}

.remove-button {
    grid-area: remove;
}

.right-button {
    grid-area: right;
}

.left-button {
    grid-area: left;
}

.up-button {
    grid-area: up;
}

.down-button {
    grid-area: down;
}

.focus-button {
    grid-area: focus;
}

.download-button {
    grid-area: download;
}

.increase-button {
    grid-area: increase;
}

.decrease-button {
    grid-area: decrease;
}

.border-button {
    grid-area: border;
}

.filling-button {
    grid-area: filling;
}

.color-picker {
    align-self: center;
    height: 70%;
}

.color-settings {
    display: flex;
}

/* LINKS */

a {
    color: hotpink;
    text-decoration: none;
}

a:hover {
    color: rgb(143, 44, 93);
}

/* FOOTER */

footer {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
}