.main-header {
    display: flex;
    justify-content: space-between;
}

.main-container {
    display: flex;
}

.controls-button {
    height: 4rem;
    width: 4rem;
    
}

.button-container {
    display: grid;
    grid-gap: 6px;
    justify-items: center;
}