html {
    height: 100%;
}

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}

header {
    display: flex;
    justify-content: space-between;
}

.main-nav {
    margin-bottom: 10px;
}

.main-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 1 0 auto;
}

.img-container {
    display: grid;
    justify-content: center;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 16rem));
    padding: 10px;
}

small {
    padding: 10px;
}

.img {
    width: 100%;
    object-fit: cover;
}

.btn {
    height: 100%;
    width: 16rem;
    height:auto;
}

/* INFO */

.info {
    display: flex;
    background-color: rgba(49, 49, 49, 0.26);
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: auto;
    padding: 10px;
}

.self-img {
    border-radius: 50%;
    border: solid black 5px;
    height: auto;
    width: 20rem;
    object-fit:cover;
    object-position:bottom;
}

.about-me {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link-img {
    height: 60px;
}

/* SMALL */

small {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
}