body {
    display: flex;
    flex-direction: column;
}

.main-nav {
    padding-top: 10px;
    padding-bottom: 20px;
    margin: 5px;
    display:flex;
}

.choose-a-meme {
    padding-left: 2rem;
}

.main-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 1 0 auto;
}

.img-container {
    display: grid;
    justify-content: center;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 16rem));
    padding: 10px;
}

.img {
    width: 100%;
    object-fit: cover;
    box-shadow: 2px 5px 16px 0px rgba(92, 89, 89, 0.4), 5px 5px 15px 5px rgba(0,0,0,0);
}

.btn {
    height: 100%;
    width: 16rem;
    height: auto;
    font-size: 100%;
    background-color: rgba(10, 0, 0, 0);
    border: dotted 2px white;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: background 0.4s ease-in-out;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.527);
    transition: background 0.4s ease-in-out;
}

/* INFO */

.info {
    display: flex;
    border: dotted white 2px;
    border-radius: 10px;
    padding: 5px;
}

.self-img {
    border-radius: 50%;
    border: dotted white 2px; 
    width: 19rem;
    height: 19rem;
    object-fit: cover;
    object-position: bottom;
    padding: 10px;
    margin: 5px;
}

.about-me {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link-img {
    height: 45px;
    padding: 7px;
    border-radius: 5px;
}

.linkedin-img:hover {
    background: rgba(0, 0, 124, 0.8);
}

.facebook-img:hover {
    background: rgba(0, 42, 180, 0.8);
}

.github-img:hover {
    background: rgba(126, 0, 126, 0.8);
}